 <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-horizontal">
      <a [routerLink]="['assets']" class="list-group-item list-group-item-action bg-light">Susreti</a>
      <a [routerLink]="['events']"  class="list-group-item list-group-item-action bg-light">Pregled lige</a>
      <a [routerLink]="['poisson']" class="list-group-item list-group-item-action bg-light">Predviđanje rezultata</a>
      <a [routerLink]="['simulation']" class="list-group-item list-group-item-action bg-light">Simulacija kola</a>
    </div>
  </div>
