.header {
  height: 2rem;
  background: #236AB9;
  margin: 0;
  position: relative;
  color: #D4E4F7;
}

.header p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ekipa {
  padding: 1rem;
  color: #341C09;
  font-size: 20px;
  font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
  font-weight: 500;
}

.probability {
  font-size: 0.75rem;
  font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
  font-weight: normal;
}

.lambda {
  color: #FC7307;
  text-align: center;
}
