<br>
<div class="row">
  <div class="col-12">

    <table class="row-border hover">
<!--      <thead>
      <tr>
        <th style="text-align: center">Datum</th>
        <th style="text-align: right">Domaćin</th>
        <th style="text-align: center">Datum</th>
        <th style="text-align: right">Domaćin</th>
      </tr>
      </thead> -->
      <tbody>
      <tr>
        <td style="text-align: center"> Zabijeno </td>
        <td style="text-align: right"> zabijeno data </td>
        <td style="text-align: center"> Primljeno  </td>
        <td style="text-align: right">  primljeno data </td>
      </tr>
      <tr>
        <td style="text-align: center"> Zabijeno po utakmici  </td>
        <td style="text-align: right"> Zabijeno po utakmici data </td>
        <td style="text-align: center"> Primljeno po utakmici </td>
        <td style="text-align: right">  Primljeno po utakmici data </td>
      </tr>
      </tbody>
    </table>

    <!-- col-->
  </div>
  <!-- row -->
</div>
