<h1 class="mt-4"> Faktor ekipe </h1>
<br>

<div class="row">
  <div class="col-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Ekipa">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Pretraži</button>
      </div>
      <!-- input-group -->
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>
<br>

<div class="row">

  <div class="col-12" style="text-align: center">
    <h5> Ekipa xyz </h5>
  </div>

  <div class="col-6">
    <app-team-events></app-team-events>
  </div>

  <div class="col-6">
    <app-team-goals></app-team-goals>
  </div>

  <div class="col-12">
    <app-team-summary></app-team-summary>
  </div>
</div>

<br>

<div class="row">
  <div class="col-12"> <h5> Golovi </h5> </div>

  <div class="col-4">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sveukupno</h5>
        <p class="card-text">Suma: 123 </p>
        <p class="card-text">Zabijeno: 120</p>
        <p class="card-text">Prosjek po utakmici: 1.5</p>
        <p class="card-text">Primljeno 123</p>
        <p class="card-text">Prosjek po utakmici: 1.3</p>

<!--     <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
        <!-- card-body -->
      </div>
    <!-- card -->
    </div>

    <!-- col -->
  </div>

  <div class="col-4">

    <div class="card">
      <div class="cad-body">
        <h5 class="card-title">Sveukupno</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        <!-- card-body -->
      </div>
      <!-- card -->
    </div>

    <!-- col -->
  </div>


  <div class="col-4">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sveukupno</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        <!-- card-body -->
      </div>
      <!-- card -->
    </div>

    <!-- col -->
  </div>

  <!-- row -->
</div>

